body, html {
  min-height: 100vh;
  margin: 0;
  background-color: rgb(107, 107, 124);
}

.app-container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.perlin-plot > div {
  width: 800px;
  height: 500px;
}

.perlin-canvas {
  background-color: midnightblue;
}

